<div class="design">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css1.css') }}">
<style>
    table,th,td {
        border-collapse: collapse;     
        border: 1px solid black; 
      }
      
      th, td {
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even){background-color: #f2f2f2}
      
      th {
        background-color: #bed1e7;
        color: rgb(20, 19, 19);
    }
</style>
<h2 align="center">
    User ID: {{output_data2}}
</h2>
<table align="center">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>   
        <th>Copies</th>
    </tr>
    </thead>
    <tbody>
        {% for row in output_data %} 
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td><a href='/issue/{{row[1]}}/{{output_data2}}/{{row[2]}}'><button>Issue</button></a></td>
            </tr>
        {% endfor %}       
    </tbody>
</table>
<p align="center"><a href='/return/{{output_data2}}'><input type="submit" value="Return"></a></p>
<p align="center"><a href='/'><input type="submit" value="Go Back"></a></p>
</div>